@model UserModel

<h2>User Sign Up</h2>

@*@Html.AntiForgeryToken()*@

<div class="container text-nowrap">
	<h4 class="display-4">Sign up for our online account</h4>
	<hr />
	<form method="post"  asp-action="SignUp" asp-controller="Home">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<label asp-for="UserId" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="UserId" class="form-control" />
				@Html.ValidationMessageFor(model => Model.UserId, "", new {@class = "text-danger"})
			</div>
		</div>

		<div class="form-group">
			<label asp-for="FirstName" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="FirstName" class="form-control" />
				@Html.ValidationMessageFor(model => Model.FirstName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label asp-for="UserId" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="LastName" class="form-control" />
				@Html.ValidationMessageFor(model => Model.LastName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label asp-for="EmailAddress" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="EmailAddress" class="form-control" />
				@Html.ValidationMessageFor(model => Model.EmailAddress, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label asp-for="ConfirmEmail" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="ConfirmEmail" class="form-control" />
				@Html.ValidationMessageFor(model => Model.ConfirmEmail, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label asp-for="Password" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="Password" class="form-control" />
				@Html.ValidationMessageFor(model => Model.Password, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label asp-for="ConfirmPassword" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="ConfirmPassword" class="form-control" />
				@Html.ValidationMessageFor(model => Model.ConfirmPassword, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>

<div class="">
	@Html.ActionLink("Back to Home", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
