@model IEnumerable<Video>

@section Styles {
	<link rel="stylesheet" href="~/css/videos.css" />
}

@{ await Html.RenderPartialAsync("_HeaderTabBar"); }

@*<partial name="_HeaderTabBar" />*@

<div class="container">
	<table class="table mt-1">
		<thead>
			<tr>
				<th>
					<a id="link1" class="video-link" href='@Url.Action("Index", "Videos", new {sortColumn = "name"})'>Name<i class=""></i></a>
				</th>
				<th class="text-right">
					<a id="link2" class="video-link" href='@Url.Action("Index", "Videos", new {sortColumn = "length"})'>Length<i class=""></i></a>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Video video in Model)
			{
				<tr>
					<td class="video-name">
						<a class="video-link" href='@Url.Action("Show", "Videos", new {vf = video.VirtualFolder, fn = video.FileName})'><i class="fa fa-fw fa-video mr-1 gray"></i>@video.FileName</a>
					</td>
					<td class="video-length">
						@($"{video.Length / 1024:###,### KB}")
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script src="~/js/_videos.js"></script>
}